
/* Bordered form */
.formulairelogin {
    width:100%;
    margin: 0 auto;
    padding: 40px;
    background: $purple;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    max-width: 500px;
}
.formulairelogin label{
    margin: 0 auto;
    padding-bottom: 10px;
    color: white;
}
.formulairelogin h2{
    margin: 0 auto;
    padding-bottom: 10px;
    color: white;
}
.formulairelogin a{
    margin: 0 auto;
    padding-bottom: 10px;
    color: white;
}
.formulairelogin .btn{
  background-color: $green;
  border: 1px solid $green;
  border-radius: 3px;
  margin-bottom: 20px;
}

.formulairelogin .btn:hover {
    opacity: 0.70;
    }
