<div class="form-container">
  <h1>Editing Project</h1>

  <div class="nav-links">
    <%= link_to 'Show >', @project %>
    <%= link_to '< Back', projects_path %>
  </div>
  
  <%= render 'form', project: @project %>

</div>
