// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.card a {
  color: black;
  text-decoration: none;
}

.project-done {
	background-color: #CACACA;
	border: 1px solid #8C8C8C;
}